<!DOCTYPE html>
<html lang="en">
    
<!-- code attribution 
Title: boarding.ejs
Author: Zahava Gopin 
Date: 2 February 2023
Description: boarding page for pets-r-us app
-->
<head>
    <meta charset="UTF-8">
    <title><%= title %></title><!--Document Title -->

    <link rel="stylesheet" href="/styles/site.css"><!--link to site styling-->
 
    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet"><!--Link to google fonts-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--link to cdn styling-->
</head>
<body>

<%- include('./header.ejs') %>   <!--Including the header document into the boarding page-->
<section class="container">
<!--Paragraph explaining the service.-->
    <h1 class="center-text">Boarding Services</h1> 
    <p class="intro"> 
        When you have to travel away from home and can’t take your furry friend along, you want to make sure they’re safe and taken care of. That’s why you should consider a dog boarding service like ours. We provide a safe environment and quality care that you can trust.

        At our dog boarding hotel, we understand that leaving your pet can be stressful. That’s why we strive to make their stay as comfortable and enjoyable as possible! Our staff is experienced in taking care of dogs, and your pup will be given plenty of love and attention. We also make sure to keep them active with our daily activity program.
        
        When you choose us for your dog boarding needs, you can rest assured knowing that your pup is in good hands. Our facility is equipped with the latest safety and security features, and we have a veterinarian on staff in case of any medical emergencies. We also have soundproof rooms to ensure your pet has a peaceful and quiet stay.
        
        At our dog boarding hotel, we believe that your pet should be treated like family. That’s why we provide a home-like setting and plenty of playtime. Your pup will receive regular meals and snacks, and we can accommodate special dietary needs.

        When you need to be away from home, you can trust us to take care of your pet. Our dog boarding hotel is safe and secure, and we provide quality care that your pup deserves. Contact us today to learn more and book a stay for your furry friend!
        </p>
        <br />
        <hr>
        <br />
<!--Pricing options. -->
    <div class="test">
        <div class="dog1">
            <h3>One Dog:</h3>
            <p>up to 5 nights: $40/night</p>
            <p>5 nights or over: $35/night</p>
        </div>

        <div class="dog2">
            <h3>Two Dogs:</h3>
            <p>up to 5 nights: $65/night</p>
            <p>5 nights or over: $60/night</p>
        </div>

        <div class="dog3">
            <h3>Three Dogs:</h3>
            <p>up to 5 nights: $90/night</p>
            <p>5 nights or over: $85night</p>
        </div>
    </div>
  
</section> <!--Including the footer in the page. -->
<%- include('./footer.ejs') %>
</body>
</html>