<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<header class="header">
    <h1 class="title">Pets-R-Us</h1>


<section class="navbar">
    <a href="/">Home</a>
    <a href="/grooming">Grooming</a>

</section>
</header>
<section class="container">

     <h3>Grooming Packages: </h3>
     <div class="dog">
                <p class="dog-text">Full package: $200-$250 </p>
                <p class="dog-text">Hair Cut: $75-$125 </p>
                <p class="dog-text">Deep Condition: $100</p>
                <p class="dog-text">Nail Trim: $25 </p>
     </div>
</div>

</section>
<footer>
    <p>
        &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>

</footer>
</body>
</html>

        
