<!DOCTYPE html>
<html lang="en">
<!-- code attribution 
Title: header.ejs
Author: Zahava Gopin 
Date: 2 February 2023
Description: header for all pets-r-us pages
-->
<head>
    <meta charset="UTF-8">
    <title><%= title %></title><!--Document Title -->

    <link rel="stylesheet" href="/public/styles/site.css"><!--link to site styling-->

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--link to cdn styling-->
</head>
<body>
<!--Code creating the header-->
<header class="header">
    <h1 class="title">Pets-R-Us</h1>

<!--Code creating the navigation bar-->
<section class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Services</button>
        <div class="dropdown-content">
            <a href="/grooming">Grooming</a>
            <a href="/training">Training</a>
            <a href="/boarding">Boarding</a>
        </div>
      </div>
      <a href="/registration">Sign Up</a>
</section>
</header>