<!DOCTYPE html>
<html lang="en">
<!-- code attribution 
Title: index.ejs
Author: Zahava Gopin 
Date: 2 February 2023
Description: index for pets-r-us app
-->
<head>
    <meta charset="UTF-8">
    <title><%= title %></title><!--link to site styling-->

    <link rel="stylesheet" href="/styles/site.css"><!--link to site styling-->
 
    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--link to cdn styling-->
</head>
<body>

    <%- include('./partials/header.ejs') %>    <!--Including the header document into the index--> 
<section class="container">
<!--Paragraph explaining the company.-->
    <h1 class="center-text">Welcome to Pets-R-Us</h1>
    <p class="intro"> Welcome to Pets-R-Us, the one-stop shop for all of your pet needs. Our store has been proudly serving our community and beyond since 2001. We specialize in a variety of pet services such as grooming, boarding, and training, so that you can give your pet the best care possible. Our expert staff are passionate about animals and have years of experience in the pet care industry.

    At Pets-R-Us we make sure our customers always come first. We understand that everyone's busy schedule doesn't always allow them to take their pets for appointments during regular business hours so we offer convenient online booking for both locations making it easy for anyone to make an appointment at any time day or night! Not only do we strive to give excellent service but we also provide high quality products from trusted brands to ensure your pet is getting only the best care available.
        
    Our team at Pets-R-Us takes great pride in offering superior service and helping animals receive the love and attention they deserve. If you're looking for a dependable place to give your beloved companion everything they need, then look no further than Pets-R-Us! Visit us today and let us help you keep your pets happy and healthy.
        </p>
        <br />
        <hr>
        <br />
<!--Locations of the company. -->
<container class="test">
    <div class="locations">
        <h1 class="center-text">Locations</h1>
        <h3>Boise</h3>
        <p class="address">1200 Main Street; Boise, ID 65475</p>
        <h3>Denver</h3>
        <p class="address">766 Main Ave; Denver, CO 48913</p>
    </div> 
   
<!--Company hours.-->
    <div class="hours">
        <h1 class="center-text ">Store Hours</h1>
                <p class="day">Mon: 9am - 5pm</p>
                <p class="day">Tues: 9am - 5pm</p>
                <p class="day">Wed: 9am - 5pm</p>
                <p class="day">Thurs: 9am - 5pm</p>
                <p class="day">Fri: 9am - 5pm</p>
                <p class="day">Sat: 10am - 4pm</p>
    </div>
</container>
    <hr>
<!--Dog of the week information.-->
    <h3>Dog of the Week:</h3>
    <div class= "dog">
        <p class="dog-text"><b>Name: </b> Jack </p>
        <p class="dog-text"><b>Age: </b> 3 months </p>
        <p class="dog-text"><b>Favorite activity: </b> Digging in the yard. </p>
        <p class="dog-text"><b>Friends: </b> Milo and Jasper </p>
        <p class="dog-text"><b>Most lovable quality: </b> Loves to cuddle </p>
    </div>

   
<!--Customer testimonials.-->
    <div class="testimonials">
        <h3>Testimonials</h3>
            <p>"My dog has never been happier!"</p>        
            <p><b>- Jane Doe</b></p>
            <p>"The service is just amazing, I had such a smooth experience from beginning to end!"</p>            
            <p><b>- Adam Smith</b></p>
            <p>"All of my dogs were trained within a month- an amazing company!"</p>
            <p><b>- John Locke</b></p>
    </div>

<!--Form to contact the company.-->
        <h1 class="center-text">Contact Us</h1>

        <p class="testimonials">Your feedback is important to us.</p>
<br />

        <div class="center-div">
                <input type="email" placeholder="Email"> <br />
                <button class="btn btn-primary btn-primary:hover"> Send</button>
        </div>



</section><!--Including the footer in the page. -->
<%- include('./partials/footer.ejs') %>
</body>
</html>